<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cdictv.tiyitao">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FazhiActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.ChuxingActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.ShenghuoActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".activity.HongLvDengActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.ShengHuozhishuActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.SJFXActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activity.WeatherInformationActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.NewsActivity"
            android:screenOrientation="landscape"
           >

        </activity>
        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.YijianActivity"
                  android:screenOrientation="landscape">
        </activity>
        <activity android:name=".activity.WodeyijinaActivity"
                  android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>